<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- подгрузим собственные фильтры из файла custom_filters.py-->
{% load custom_filters %}

{% load cache %}
{% cache 60 title %}
    <!-- Название у нас будет Post -->
    {% block title %}
    Публикация
    {% endblock title %}
{% endcache %}

<!-- В контенте на странице мы выводим статью -->
{% block content %}

{% if post.post_type == 'NW' %}
    <p><h5 align="left">Новость: "{{ post.header_post|censor }}"</h5></p>
{% else %}
    <p><h5 align="left">Статья: "{{ post.header_post|censor }}"</h5></p>

<p align="left"> Категории:
    {% for cat in post.category.all %}
        {{ cat }}
    {% endfor %}
</p>

{% endif %}

<table border="2"  cellpadding="20" frame="hsides">
    <caption>{{ post.create_date|date:'d.M.Y' }} </caption>
    <tr>
        <td align="left">{{ post.text_post|censor }}</td>
    </tr>
</table>

{% if offer_subscribe %}
    <p align="left"> Подписаться на новости:
    {% for cat in cat_for_subscribe %}
        <a href="{% url 'add_subscribe' cat.id %}" >{{ cat.name_category }}</a>
    {% endfor %}
    </p>
{% endif %}
{% if offer_unsubscribe %}
    <p align="left"> Отписаться от новостей:
    {% for cat in cat_for_unsubscribe %}
        <a href="{% url 'del_subscribe' cat.id %}">{{ cat.name_category }}</a>
    {% endfor %}
    </p>
{% endif %}

{% endblock content %}
