<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Подгружаем переводы-->
{% load i18n %}

<!-- подгрузим собственные фильтры из файла custom_filters.py-->
{% load custom_filters %}

<!-- load cache %} -->
    {% block title %}
        {% translate "Publication"%}
    {% endblock title %}
<!-- endcache %} -->

<!-- В контенте на странице мы выводим статью -->
{% block content %}

{% if post.post_type == 'NW' %}
    <p><h5 align="left">{% trans "News: " %}"{{ post.header_post|censor }}"</h5></p>
{% else %}
    <p><h5 align="left">{% trans "Article: " %}"{{ post.header_post|censor }}"</h5></p>

<p align="left"> {% trans "Category" %}
    {% for cat in post.category.all %}
        {{ cat }}
    {% endfor %}
</p>

{% endif %}

<table border="2"  cellpadding="20" frame="hsides">
    <caption>{{ post.create_date|date:'d.M.Y' }} </caption>
    <tr>
        <td align="left">{{ post.text_post|censor }}</td>
    </tr>
</table>

{% if offer_subscribe %}
    <p align="left"> {% trans "Subscribe to the news:" %}
    {% for cat in cat_for_subscribe %}
        <a href="{% url 'add_subscribe' cat.id %}" >{{ cat.name_category }}</a>
    {% endfor %}
    </p>
{% endif %}
{% if offer_unsubscribe %}
    <p align="left"> {% trans "Unsubscribe from the news:" %}
    {% for cat in cat_for_unsubscribe %}
        <a href="{% url 'del_subscribe' cat.id %}">{{ cat.name_category }}</a>
    {% endfor %}
    </p>
{% endif %}

{% endblock content %}
