{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Поиск публикаций
{% endblock title %}

{% block content %}
<h1>Поиск публикаций на портале:</h1>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" name="Найти" />
</form>

<a href="http://127.0.0.1:8000/posts/search/?">Сбросить</a>

{% if finded_posts %}
    <table cellpadding="5" frame="hsides">
        <caption align="top"> <h4>Всего публикаций на странице: {{ finded_posts|length }}</h4></caption>
        <tr>
            <th>Заголовок</th>
            <th>Дата</th>
            <th>Автор</th>
            <th>Категория</th>
            <th>Описание</th>
        </tr>
        {% for post in finded_posts %}
        <tr>
            <td align="left">{{ post.header_post|censor }}</td>
            <td>{{ post.create_date|date:'d.M.Y' }}</td>
            <td align="left">{{ post.author_user }}</td>
            <td align="left">
                {% for cat in post.category.all %}
                {{ cat }}
                {% endfor %}
            </td>
            <td align="left">{{ post.text_post|truncatewords:10|censor }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>Такие новости не найдены.</h3>
{% endif %}

{# Пагинация #}
    {# Предыдущая страница#}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
          <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {# Следующая страница #}
    {% if  page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif%}
{% endblock content %}
