{% extends 'flatpages/default.html' %}
<!-- Подгружаем переводы-->
{% load i18n %}

{% load custom_filters %}

{% block title %}
{% trans "Search publications" %}
{% endblock title %}

{% block content %}
<h1>{% trans "Search for publications on the portal" %}</h1>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="{% trans "Find" %}" />
</form>

<a href="?{% url 'posts_list_search' %}">{% trans "Clear" %}</a>

{% if finded_posts %}
    <table cellpadding="2" frame="hsides">
        <caption align="top"> <h4>{% trans "Publications on the page:" %}{{ finded_posts|length }}</h4></caption>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Descriptions" %}</th>
            <th>{% trans "Operations" %}</th>
        </tr>
        {% for post in finded_posts %}
        <tr>
            <td align="left">{{ post.pk }}</td>
            <td align="left">{{ post.header_post|censor }}</td>
            <td>{{ post.create_date|date:'d.M.Y' }}</td>
            <td align="left">{{ post.author_user }}</td>
            <td align="left">
                {% for cat in post.category.all %}
                {{ cat }}
                {% endfor %}
            </td>
            <td>
                {% if post.post_type == 'AR' %}
                    {% trans "Article" %}
                {% else %}
                    {% trans "News" %}
                {% endif %}
            </td>
            <td align="left">
                {% if post.post_type == 'AR' %}
                     <a href="{% url 'post_update_article' post.pk %}">{{ post.text_post|truncatewords:5|censor }}...</a>
                {% else %}
                     <a href="{% url 'post_update_new' post.pk %}">{{ post.text_post|truncatewords:5|censor }}...</a>
                {% endif %}
            </td>
            <td align="left">
                 {% if post.post_type == 'AR' %}
                     <button><a href="{% url 'post_delete_article' post.pk %}"> {% trans "Delete" %} </a></button>
                {% else %}
                     <button><a href="{% url 'post_delete_new' post.pk %}"> {% trans "Delete" %} </a></button>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>{% trans "Such news is not found!" %}</h3>
{% endif %}

{# Пагинация #}
    {# Предыдущая страница#}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
          <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Текущая страница #}
    {{ page_obj.number }}

    {# Следующая страница #}
    {% if  page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif%}

{% endblock content %}
