{% extends 'flatpages/default.html' %}
<!-- Подгружаем переводы-->
{% load i18n %}
{% block content %}
<h1>{% trans "Edit profile" %}</h1>
<hr>

{% if request.user.id != profile.id %}
    <h3 style="color: red">{% trans "You do not have access rights to this information!" %}</h3>
{% elif request.user.id == profile.id %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Save" %}" />
</form>
<hr>
<h5>{% trans "Subscription Information" %}</h5>
<p>
    {% for cat in subscribes %}
        {{ cat.name_category }}
    {% endfor %}
</p>

{% endif %}


{% endblock content %}
