{% extends 'flatpages/default.html' %}

{% load i18n %}
<!-- не забываем загрузить тег для работы с часовыми поясами -->
{% load tz %}

{% block content %}

<h1>{% trans "Edit profile" %}</h1>
<hr>

{% if request.user.id != profile.id %}
    <h3 style="color: red">{% trans "You do not have access rights to this information!" %}</h3>
{% elif request.user.id == profile.id %}

    <!--Locale band-->
    <div class="nav-item">
        {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">
            {% csrf_token %}
            <label for="timezone">{%  trans 'Time zone:'%}</label>
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans "Set" %}">
        </form>
        {{ TIME_ZONE }}
        {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
    </div>
    <!--END Locale band -->
    <!--Information of subscribe-->
    <hr>
    <div>
        <h5>{% trans "Subscription Information" %}</h5>
        <p>
            {% for cat in subscribes %}
                {{ cat.name_category }}
            {% endfor %}
        </p>
    </div>

    <!--Form Profile User-->
    <hr>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Save" %}" />
        </form>
    </div>

{% endif %}


{% endblock content %}
