{% extends 'flatpages/default.html' %}

{% load i18n %}
<!-- не забываем загрузить тег для работы с часовыми поясами -->
{% load tz %}

{% block content %}

        <!--Locale band -->
        <div class="navbar">
            <div class="nav-item">
                <form class="form-select-lg" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                    <select name="language" class="form-select-sm">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                        {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
                        {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{ language.name_local }} - {{ language.code }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{% trans 'Set' %}">
                </form>
            </div>
            <div class="nav-item">
                {% get_current_timezone as TIME_ZONE %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="timezone">Time zone:</label>
                    <select name="timezone">
                        {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Set">
                </form>
                {{ TIME_ZONE }}
                {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
            </div>
        </div>
        <!--END Locale band -->


<h1>{% trans "Edit profile" %}</h1>
<hr>

{% if request.user.id != profile.id %}
    <h3 style="color: red">{% trans "You do not have access rights to this information!" %}</h3>
{% elif request.user.id == profile.id %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Save" %}" />
</form>
<hr>
<h5>{% trans "Subscription Information" %}</h5>
<p>
    {% for cat in subscribes %}
        {{ cat.name_category }}
    {% endfor %}
</p>

{% endif %}


{% endblock content %}
